canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
.pdf{
    width:100%;
    height: 100vh;
}
.header{
    transition: top 700ms linear;
    top: 0;

}

